[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ceser"]
	path = ceser
	url = https://github.com/diogoferrari/ceser
[submodule "hdpGLM"]
	path = hdpGLM
	url = https://github.com/diogoferrari/hdpglm
